.scrollbar-custom {
	scrollbar-width: thin;
	scrollbar-color: rgba(168, 85, 247, 0.8) rgba(229, 231, 235, 0.5);
}

.scrollbar-custom::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
	background-color: rgba(168, 85, 247, 0.8);
	border-radius: 4px;
}

.scrollbar-custom::-webkit-scrollbar-track {
	background: rgba(229, 231, 235, 0.5);
	border-radius: 4px;
}

.scrollbar-custom::-webkit-scrollbar-button {
	display: none;
}
